[submodule "atom.symlink"]
	path = atom.symlink
  url = git@github.com:amauragis/dot-atom.git
  branch = master
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
