[submodule "atom.symlink"]
	path = atom.symlink
  url = git@github.com:amauragis/dot-atom.git
  branch = master
[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
	branch = master
